:root {
  --background: #f0f4ed;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}
$blue: #35bff6;

$pink: #ff4f5a;
$lightPink: #fbe4e2;
$green: #b5e100;
$lightGreen: #e9efd3;
$yellow: #ffca51;

@font-face {
  font-family: "interstatebold";
  src:
    url("../public/fonts/interstate-boldcompressed-webfont.woff2")
      format("woff2"),
    url("../public/fonts/interstate-boldcompressed-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.page-container {
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 15px;
}
@mixin fontSize($sizeValue) {
  font-size: $sizeValue * 1px;
  font-size: calc($sizeValue/10) * 1rem;
}
.flex {
  display: flex;
  flex-flow: row wrap;
}
img {
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4 {
  font-family: "interstatebold", sans-serif;
  font-weight: 900;
  margin: 0;
}
a {
  text-decoration: none;
  color: inherit;
  &:hover {
    text-decoration: underline;
  }
}

h1 {
  @include fontSize(33);
}
h2 {
  @include fontSize(24);
}
h3 {
  @include fontSize(18);
}
h4 {
  @include fontSize(14);
}
p {
  line-height: 1.5;
}
.uppercase {
  text-transform: uppercase;
}
body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Inter", sans-serif;
  @include fontSize(9);
  font-weight: 300;
  margin: 0;
}
// CTA Button

.ctaButton {
  font-family: "interstatebold", sans-serif;
  text-transform: uppercase;

  @include fontSize(16);
  display: flex;
  width: 100%;
  a {
    text-decoration: none;
    text-align: center;
    min-width: 65px;
    display: block;
    width: fit-content;
     height: fit-content;
      padding: 4px 12px;
  border-radius: 8px;
  margin-bottom: 10px;
  }
}
.btn-blue {
  
  a {
    background: $blue;
    color: black;
  }
}
.btn-pink {
  
  a {
    background: $pink;
    color: white;
  }
}
.image-caption {
  margin: 0;
  padding-left: 10px;
  @include fontSize(8);
}

//header container
.header-container {
  @extend .page-container;
  margin: 20px auto;
  .logo-header {
    max-width: 230px;
  }
  .menu-list {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 70%;
    


    .menu-item {
      position: relative;
      @extend h2;
       text-transform: uppercase;
      margin-bottom: 5px;
      a:hover {
        text-decoration: none;
        
      }
      .dropdown-button {
        @extend h2;
         text-transform: uppercase;
        background: none;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 0;
      }
      .submenu-list {
        position: absolute;
        margin: 0;
        z-index: 2;
        display: flex;
        flex-flow: wrap;
        list-style: none;
        width: 100%;
        max-width: 640px;
        padding: 20px;
        a {
          display: block;
        }
        .submenu-column-left {
          width: 50%;
        }
        .submenu-column-right {
          text-align: right;
          width: 50%;
        }
      }
    }
    .menu-item:nth-child(1) {
      .submenu-list {
        color: white;
      }
    }
  }
}
//footer 
footer {
  background: black;
  color: white;
  margin-top: 30px;
  padding: 20px;
  .footerLeft {
    width: 75%;
    @extend .flex;
    justify-content: space-between;
    .footer-col {
      margin-bottom: 20px;
        p {
          margin: 5px 0 0;
        }
        h3 {
          text-transform: uppercase;
        }
    }
    .footer-col-1,.footer-col-2{
      width: 29%;
      div {
        max-width: 250px;
        

      }
    }
    .footer-col-3 {
      width: 35%;
    }
    
  }
  .footerRight {
    width: 25%;
    text-align: right;
    .socials-container {
      @include fontSize(18);
    }
    .footerMenu {
      text-transform: uppercase;
    .footer-link {
      @extend h3;
      display: block;
      margin-bottom: 10px;
    }

    }

  }
  
}
.mailchimp-form {
  display: flex;
  margin-top: 10px;
  .mc-field-group {
    width: calc(100% - 52px);
    input {
      width: calc(100% - 10px);
      height: 25px;
    }
  }
  .form-actions {
  margin-left: 10px;
  button {
     font-family: "interstatebold", sans-serif;
  text-transform: uppercase;

  @include fontSize(14);
    background: $blue;
    border: none;
    text-decoration: none;
    text-align: center;
    display: block;
    width: fit-content;
     height: fit-content;
      padding: 4px 12px;
  border-radius: 8px;
  margin-bottom: 10px;
  }
}
}

