:root {
  --background: #f0f4ed;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}
$blue: #35bff6;

$pink: #ff4f5a;
$lightPink: #fbe4e2;
$green: #b5e100;
$lightGreen: #e9efd3;
$yellow: #ffca51;

@font-face {
  font-family: "interstatebold";
  src:
    url("../public/fonts/interstate-boldcompressed-webfont.woff2")
      format("woff2"),
    url("../public/fonts/interstate-boldcompressed-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.page-container {
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 15px;
}
@mixin fontSize($sizeValue) {
  font-size: $sizeValue * 1px;
  font-size: calc($sizeValue/10) * 1rem;
}
.flex {
  display: flex;
  flex-flow: row wrap;
}
img {
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4 {
  font-family: "interstatebold", sans-serif;
  font-weight: 900;
  margin: 0;
  text-transform: uppercase;
}
a {
  text-decoration: none;
  color: inherit;
  &:hover {
    text-decoration: underline;
  }
}

h1 {
  @include fontSize(33);
  @media (max-width: 790px) {
    @include fontSize(27);
  }
}
h2 {
  @include fontSize(24);
}
h3 {
  @include fontSize(18);
}
h4 {
  @include fontSize(14);
}
p {
  line-height: 1.5;
  strong {
    font-weight: 600;
  }
}
.uppercase {
  text-transform: uppercase;
}
body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Inter", sans-serif;
  @include fontSize(9);
  font-weight: 300;
  margin: 0;
}
// CTA Button

.ctaButton {
  font-family: "interstatebold", sans-serif;
  text-transform: uppercase;

  @include fontSize(18);
  display: flex;
  width: 100%;
  margin: 20px auto;
  a {
    text-decoration: none !important;
    text-align: center;
    min-width: 75px;
    display: block;
    width: fit-content;
     height: fit-content;
      padding: 4px 12px;
  border-radius: 8px;
  margin-bottom: 10px;
  &:hover {
    text-decoration: none !important;
  }
  }
}
.heading-side-menu .ctaButton, .text-content .ctaButton,.season-desc .ctaButton {
  margin: 0;
}
.btn-blue {
  
  a {
    background: $blue;
    color: black;
  }
}
.btn-pink {
  
  a {
    background: $pink;
    color: white;
  }
}
.image-caption {
  margin: 0;
  @include fontSize(8);
}
.heading-text-container {
  width: 100%;
  display: flex;
}

//header container
.header-container {
  @extend .page-container;
  margin: 20px auto;
  
  .logo-header {
    width: 221px;
  }
  .mobile-menu  {
    width: calc(98% - 221px);
    @extend .flex;
    .heading-side-menu {
      margin-left: auto;
    }
  }
  .hamburger-button {
    display: none;
    @include fontSize(30);
    width: fit-content;
    height: fit-content;
    color: $pink;
    background: none;
    border: none;
    z-index: 4;
    
  }
  .menu-list {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 70%;
    


    .menu-item {
      position: relative;
      @extend h2;
       text-transform: uppercase;
      margin-bottom: 5px;
      a:hover {
        text-decoration: none;
        
      }
      .dropdown-button {
        @extend h2;
        color: black;
         text-transform: uppercase;
        background: none;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 0;
      }
      .submenu-list {
        position: absolute;
        margin: 0;
        z-index: 2;
        display: flex;
        flex-flow: wrap;
        list-style: none;
        width: 100%;
        max-width: 640px;
        padding: 20px;
        a {
          display: block;
        }
        .submenu-column-left {
          width: 50%;
        }
        .submenu-column-right {
          text-align: right;
          width: 50%;
        }
      }
    }
    .menu-item:nth-child(1) {
      .submenu-list {
        color: white;
      }
    }
  }
  @media (max-width: 790px) {
    .logo-header {
      margin: 0 auto;
    }
      .hamburger-button {
    display: block;
    position: fixed;
    right: 7px;
    top: 7px;
    }
    .mobile-menu  {
      display: none;
    }
    .open {
      display: block;
    position: fixed;
    z-index: 3;
    background: $lightGreen;
    width: calc(100% - 40px);
    height: 100dvh;
    top: 0;
    left: 0;
    padding: 80px 20px 0;
    text-align: center;
    .menu-list {
      width: calc(100%);
      height: fit-content;
      margin-bottom: 30px;
      .menu-item .submenu-list {
        width: calc(100% - 40px);
        justify-content: center;
        a {
          text-align: center;
        }
        position: initial;
        text-align: left;
        .submenu-column-left, .submenu-column-right {
          width: 100%;
          text-align: left;
        }
      }
    }
    .heading-side-menu {
      display: flex;
      justify-content: space-around;
      div {
        width: fit-content;
      }
      order: 1;
      width: calc(100%);
      height: fit-content;
    }
    }
  }
}
//footer 
footer {
  background: black;
  color: white;
  margin-top: 30px;
  padding: 20px;
  .footerLeft {
    width: 75%;
    @extend .flex;
    justify-content: space-between;
    .footer-col {
      margin-bottom: 20px;
        p {
          margin: 5px 0 0;
        }
        h3 {
          text-transform: uppercase;
        }
    }
    .footer-col-1,.footer-col-2{
      width: 29%;
      div {
        max-width: 250px;
        

      }
    }
    .footer-col-3 {
      width: 35%;
    }
    
  }
  .footerRight {
    width: 25%;
    text-align: right;
    .socials-container {
      @include fontSize(18);
    }
    .footerMenu {
      text-transform: uppercase;
    .footer-link {
      @extend h3;
      display: block;
      margin-bottom: 10px;
    }

    }

  }
    @media (max-width: 790px) {
    .footerLeft, .footerRight {
      width: 100%;
    }
  }
    @media (max-width: 660px) {
      padding: 20px 0;
    .footerLeft {
      .footer-col-1, .footer-col-2, .footer-col-3  {
        width: 100%;
      }
    }
    .footerRight {
      text-align: left;
      .ctaButton {
        justify-content: flex-start !important;
      }
    }
  }
  
}
.mailchimp-form {
  display: flex;
  margin-top: 10px;
  .mc-field-group {
    width: calc(100% - 52px);
    input {
      width: calc(100% - 10px);
      height: 25px;
    }
  }
  .form-actions {
  margin-left: 10px;
  button {
     font-family: "interstatebold", sans-serif;
  text-transform: uppercase;

  @include fontSize(14);
    background: $blue;
    border: none;
    text-decoration: none;
    text-align: center;
    display: block;
    width: fit-content;
     height: fit-content;
      padding: 4px 12px;
  border-radius: 8px;
  margin-bottom: 10px;
  }
}

}
.not-found {
  @extend .page-container;
  min-height: 30dvh;
  h1, p , a{
    width: 100%;
    text-align: center;
  }
}

